{% extends 'blog/base.html' %}

{% block content %}
<h1> BLOG CONTENTS : </h1>
{% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{%url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
<!--             <p>{{ post.text|linebreaksbr }}</p> -->
        </div>
    {% endfor %}
{% endblock %}